<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/pandar" />
    <remap from="~output" to="/robot0/pointcloud" />
    <rosparam>
      filter_field_name: x
      filter_limit_min: -10
      filter_limit_max: 10
      leaf_size: 0.1
    </rosparam>
  </node>
</launch>

