<launch>

  <!-- Elevation mapping node -->
  <arg name="robot_id" default="0"/>
  <arg name="robot_name" default="robot0"/>
  <arg name="camera_topic"  default="/$(arg robot_name)/image_rect"/>
  <arg name="lidar_topic"  default="/$(arg robot_name)/pointcloud"/>

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping_$(arg robot_id)" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/simple_demo_robot.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/simple_demo_map.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/velodyne_VLP16.yaml" />
    <remap from="/voxel_grid/output" to="$(arg lidar_topic)"/>
    <remap from="/stereo_grey/left/image_raw" to="$(arg camera_topic)"/>

  </node>

   <!-- Launch RViz with the demo configuration -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization.rviz" />

</launch>
